<div class="my-published-posts">
  <% @publishedPosts.each do |post| %>
    <div class="post-title post-title-published"><%= post.title %></div>
    <% post.bits.each do |bit| %>
      <div class="bit-content" data-id="<%= bit.id %>">
        <%= bit.content %>
        <i class="fa fa-trash fa-lg destroy-bit-btn"></i>
        <i class="fa fa-pencil-square-o"></i>
        <% bit.images.each do |image| %>
          <div class="bit-images"><%= image_tag(image.file, size: "70") %></div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="my-unpublished-posts">
  <% @unpublishedPosts.each do |post| %>
    <div class="post-title post-title-unpublished"><%= post.title %></div>
    <% post.bits.each do |bit| %>
      <div class="bit-content"><%= bit.content %></div>
      <% bit.images.each do |image| %>
        <div class="bit-images"><%= image_tag(image.file, size: "70") %></div>
      <% end %>
    <% end %>
  <% end %>
</div>