<div class="my-published-posts accordion" id="accordion2">
  <% @publishedPosts.each do |post| %>
    <div class="accordion-group">
      <div class="accordion-heading post-title-published">
        <div class="post-title" data-post-id="<%= post.id %>"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= post.id %>"><%= post.title %></a> <i class="fa fa-trash fa-lg destroy-post-btn"></i> <i class="fa fa-newspaper-o"></i></div>
      </div>
      <div id="collapse<%= post.id %>" class="accordion-body collapse in">
        <div class="accordion-inner">
          <% post.bits.each do |bit| %>
            <div class="bit-content" data-bit-id="<%= bit.id %>">
              <%= bit.content %>
              <br>
              <i class="fa fa-trash fa-lg destroy-bit-btn"></i>
              <%= link_to raw("<i class='fa fa-pencil-square-o'></i>"), edit_bit_path(bit) %>
              <% bit.images.each do |image| %>
                <div class="bit-images"><%= image_tag(image.file, size: "70") %></div>
              <% end %>
              <div class="bit-time-stamp"><%= time_ago_in_words(bit.updated_at) %> ago </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="my-unpublished-posts accordion" id="accordion2">
  <% @unpublishedPosts.each do |post| %>
    <div class="accordion-group">
      <div class="accordion-heading post-title-unpublished">
        <div class="post-title" data-post-id="<%= post.id %>"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= post.id %>"><%= post.title %></a> <i class="fa fa-trash fa-lg destroy-post-btn"></i> <i class="fa fa-newspaper-o"></i></div>
      </div>
      <div id="collapse<%= post.id %>" class="accordion-body collapse">
        <div class="accordion-inner">
          <% post.bits.each do |bit| %>
            <div class="bit-content" data-bit-id="<%= bit.id %>">
              <%= bit.content %>
              <br>
              <i class="fa fa-trash fa-lg destroy-bit-btn"></i>
              <%= link_to raw("<i class='fa fa-pencil-square-o'></i>"), edit_bit_path(bit) %>
              <% bit.images.each do |image| %>
                <div class="bit-images"><%= image_tag(image.file, size: "70") %></div>
              <% end %>
              <div class="bit-time-stamp"><%= time_ago_in_words(bit.updated_at) %> ago </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

