<div></div>
<%= form_for @bit, url: {action: "create"} do |f| %>
  <div class="top-bar-save"><%= f.submit "Save" %></div>
  <%= f.text_area :content, size: "41x8", placeholder: "Write bits..." %>
  <%= collection_select(:bit, :post_id, Post.all, :id, :title, {include_blank: 'New Post...'}) %>
  <div id="title_input"><%= text_field(:post, :title) %></div>
<% end %>




